/* general */

@import "fonts.css";

@font-face {
    font-family: ThickDeco;
    src: url(ThickDeco.eot);  /* EOT for IE */
    src: local("ThickDeco"),
    url(ThickDeco.ttf) format("truetype"); /* non-IE */
}

* {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.cleardiv {
    clear: both;
}

#shadow {
    background: #ffffff;
    margin: 0 auto 10px;
    border-left: solid #c1c1c1 1px;
    border-right: solid #c1c1c1 1px;
    -webkit-box-shadow: 0 0 10px 5px #888888;
    -moz-box-shadow: 0 0 10px 5px #888888;
    box-shadow: 0 0 10px 5px #888888;
    float: left;
    padding: 10px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #0caf00;
}

/* header, footer */

#header {
    width: 100%;
    display: block;
    z-index: 2;
    float: left;
    position: fixed;

    background-color: #0caf00;
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #5CCD21 0%, #21490C 100%);
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #5CCD21 0%, #21490C 100%);
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #5CCD21 0%, #21490C 100%);
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 560, color-stop(0, #5CCD21), color-stop(1, #21490C));
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #5CCD21 0%, #21490C 100%);
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #5CCD21 0%, #21490C 100%);
    border-bottom: 1px solid #095200;
}

#footer {
    width: 100%;
    display: block;
    float: left;

    background-color: #ba0000;
    background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #BA0000 0%, #660000 100%);
    background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #BA0000 0%, #660000 100%);
    background-image: -o-radial-gradient(center top, ellipse farthest-corner, #BA0000 0%, #660000 100%);
    background-image: -webkit-gradient(radial, center top, 0, center top, 560, color-stop(0, #BA0000), color-stop(1, #660000));
    background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #BA0000 0%, #660000 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #BA0000 0%, #660000 100%);
    border-top: 1px solid #6c0000;
}

#left {
    border-right: solid #ffffff 1px;
}

#left, #right {
    display: block;
    width: 44%;
    margin: 10px 0;
    float: left;
    padding: 0 25px;
}

#footer li {
    list-style: none;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
}

#footer li a:link {
    text-decoration: none;
    color: #ffffff;
}

#footer li a:visited {
    text-decoration: none;
    color: #ffffff;
}

#footer li a:hover {
    text-decoration: none;
    color: #202020;
}

/* title */

#title {
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    width: 900px;
}

/* navi */

#nav {
    margin: 0 auto;
    width: 580px;
}

/* page */

#main {
    min-height: 540px;
    padding-top: 150px;
}

#start {
    /*margin-bottom: 15px;*/
    /*border: double #0caf00 4px;*/
    border: outset grey 4px;
    float: none;
}

#start img {
    width: 100%;
}

#cc-emblem {
    position: fixed;
    left: 20%;
    top: 10px;
}

#ka-emblem {
    position: fixed;
    right: 20%;
    top: 10px;
}

#ka-emblem img {
    height: 80px;
}

.one {
    background: #fafafa;
    float: left;
    height: auto;
    position: relative;
    width: 94.5%;
    -webkit-box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    border: solid 2px lightgray;
    /*border: double #0caf00 4px;*/
    margin: 10px;
    padding: 15px;
}

.triple {
    background: #fafafa;
    -webkit-box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    border: solid 2px lightgray;
    /*border: double #0caf00 4px;*/
    margin: 5px;
    padding: 15px;
    width: 28%;
    float: left;
}

.double {
    background: #fafafa;
    -webkit-box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.75);
    border: solid 2px lightgray;
    /*border: double #0caf00 4px;*/
    margin: 10px;
    padding: 15px;
    width: 44%;
    float: left;
    height: auto;
    position: relative;
}

.double-map {
    /*border: double #0caf00 4px;*/
    margin: 10px;
    width: 44%;
    float: left;
    height: auto;
    position: relative;
}

.last {
    margin-right: 0;
}

#wrapper {
    width: 925px;
    margin: 0 auto;
}

.one-third {
    width: 30%;
    float: left;
    margin: 2%;
}

.one-third img {
    width: 100%;
}

.two-third {
    width: 60%;
    margin: 15px 10px;
    float: left;
    padding-left: 25px;
}

.blogtitle {
    border-bottom: 1px solid #d5d5d5;
    float: left;
    width: 100%;
}

.blog {
    float: left;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.emblem {
    float: left;
}

.emblemtitle {
    float: left;
    width: 79%;
}

#contactwarning {
    width: 90%;
    display: none;
    padding: 20px 0px;
    margin: 30px auto 0px auto;
    color: #DA620B;
    font-weight: bold;
}

#contactajax {
    width: 90%;
    display: none;
    border: 1px solid #83CD52;
    background-color: #8DE182;
    padding: 5px 15px 5px 45px;
    margin: 55px auto 10px auto;
    color: #060;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11pt;
    background-position: 10px 12px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px #999;
    background-repeat: no-repeat;
    text-align: left;
}

.contactdetails {
    width: 90%;
    float: none;
    margin: 5px auto 5px auto;
}

.contactdetails p {
    padding: 0px 0px 13px 30px;
    margin: 0px;
    background-repeat: no-repeat;
    font-size: 10pt;
}

.contacttitle {
    width: 100%;
    float: left;
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 0px;
    text-align: left;
}

.contacttitle h2 {
    padding-left: 20px;
    /*color: #da620b;*/
    font-size: 16pt;
}

.contacttextarea {
    width: 60%;
    float: left;
    padding: 10px 1% 10px 0px;
}

.contacttextarea fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

textarea.contacttextarea {
    width: 96%;
    padding: 2%;
    border: 1px solid #d5d5d5;
    min-height: 180px;
    color: #939393;
    font-size: 12pt;
    font-family: 'HelveticaLTStdRoman', Arial, Helvetica, sans-serif;
}

.contacttextform {
    width: 92%;
    padding: 6px 4% 6px 4%;
    border: 1px solid #d5d5d5;
    /*color: #000000;*/
    font-size: 12pt;
    font-family: 'HelveticaLTStdRoman', Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
}

.contactformbutton {
    background-color: #03d400;
    padding: 10px 22px;
    margin-top: 15px;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    font-size: 16pt;
    border: 0px;
    color: white;
}

.contactformbutton:hover {
    background-color: #cbcaca;
}

.contacttextboxes {
    width: 36%;
    float: right;
    padding: 10px 1% 10px 0px;
    color: #d5d5d5;
}

.contacttextboxes fieldset {
    padding: 0px 0px 15px 0px;
    margin: 0px;
    border: 0px;
}
